/**
 * Application
 */

$font-size: 14px;
$font-size-sm: $font-size - 2;
$font-size-lg: $font-size + 2;

$font-color: color("shades", "black");

$font-family: Roboto, Noto, sans-serif;

$primary-color: color("discord", "primary");
$secondary-color: color("discord", "secondary");

$spacer: 1rem;

@import "variables/layout";
@import "variables/type";
@import "variables/appbar";