@import "mixins/grid";

.container {
	margin: 0 auto;
	max-width: map_get($breakpoints, lg);
	width: 90%;
}

@media (min-width: #{map-get($breakpoints, sm) + 1}) {
	.container {
		width: 90%;
	}
}

@media (min-width: #{map-get($breakpoints, md) + 1}) {
	.container {
		width: 85%;
	}
}

@media (min-width: #{map-get($breakpoints, lg) + 1}) {
	.container {
		width: 75%;
	}
}

.section {
	padding-top: 1rem;
	padding-bottom: 1rem;

	&.no-pad {
		padding: 0;
	}
	&.no-pad-bot {
		padding-bottom: 0;
	}
	&.no-pad-top {
		padding-top: 0;
	}
}

.row {
	margin-bottom: 1rem;

	// Clear floating children
	&:after {
		content: "";
		display: table;
		clear: both;
	}


	.col {
		float: left;
		box-sizing: border-box;
		min-height: 1px;

		&[class*="push-"],
		&[class*="pull-"] {
			position: relative;
		}

		$keyList: append(map-keys($breakpoints), "xl", comma);
		@each $key, $breakpoint in $breakpoints {
			@include make-first-breakpoint($keyList, $key);
			@include make-breakpoint($keyList, $key);
		}
	}
}
