.container {
	margin: 0 auto;
	width: map_get($container-widths, sm);
	max-width: map_get($breakpoints, lg);
	@include make-container();
}

.divider {
	height: 1px;
	overflow: hidden;
	background-color: $divider-color;
}

section {
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;

	&.p-0 {
		padding: 0;
	}
	&.pb-0 {
		padding-bottom: 0;
	}
	&.pt-0 {
		padding-top: 0;
	}
}

.row {
	margin: $row-spacer auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;

	.col {
		min-height: 1px;
		width: 100%;

		&[class*="push-"],
		&[class*="pull-"] {
			position: relative;
		}

		@include make-columns();
	}
}
