/**
 * Layout
 */

// Grid
// $grid-columns: 12;
// $grid-gutter-width: 2rem;
// $grid-breakpoints: (
// 	mobile: 320px,
// 	tablet: 768px,
// 	screen: 1024px
// );
//
// Container
// $container-max-widths: (
// 	s: map_get($grid-breakpoints, mobile) - (2 * $grid-spacing-width),
// 	m: map_get($grid-breakpoints, tablet) - (2 * $grid-spacing-width),
// 	l: map_get($grid-breakpoints, screen) - (2 * $grid-spacing-width)
// );

// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;

$breakpoints: (
	sm: 668px,
	md: 992px,
	lg: 1200px
);

$num-cols: 12;
// $element-top-margin: $gutter-width / 3;
// $element-bottom-margin: ($gutter-width * 2) / 3;