/**
 * Application
 */

$font-size: 1rem;
$font-size-sm: $font-size * .875;
$font-size-lg: $font-size * 1.25;

$font-family: Roboto, sans-serif;

$primary-color: color("teal");
$secondary-color: color("blue-grey", "lighten-2");

$spacer: 1rem;

@import "variables/layout";
@import "variables/typography";
@import "variables/nav";