/**
 * Layout
 */

// Grid
$num-cols: 12;
$breakpoints: (
	sm: 640px, // Refered to Galaxy S7 landscape width
	md: 992px, // Refered to Galaxy S7 width
	lg: 1280px // Refered to standard HD laptop screen width
);

$divider-color: color("grey", "lighten-2");
